/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* Shared Style */

.primary-color{
    color:#FF900E;
}

.secondary-color{
    color:#727272;
 }

.display-flex{
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
}
.btn-primary{
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 1.12rem;
    font-weight:600;
    border: none;
}



/* Nav-Bar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.brand{
    font-size:2rem;
    font-weight:700;
    margin-bottom: 20px;
} 

.nav-link{
    margin-right: 30px;
}

.nav-items{
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */

.banner{
    margin-top: 102px;
    padding: 10px 10px;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 20px;

}

.banner-description{
    margin-bottom: 20px;
}

.banner-image{
    width: 100%;
    margin-bottom: 20px;
}

/* Team Section style */

.team{
    margin-top: 80px;
    align-items: center;
    margin-bottom: 30px;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content{
    margin-left: 130px;
}

.team-title{
    margin-bottom: 10px; 
}
.team-description{
    font-size:1.2rem;
    margin-bottom: 10px;
    line-height:30px;
}
/* Feature section */

.feature-section{
    margin: 80px auto;
    gap: 150px;
}

.left-content{
    max-width: 586px;
}
.feature-section-des{
    margin-top: 10px;
    line-height: 25px;
}
.left-content h1{
    max-width: 468px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features{
    margin-top:30px;
}
.features-card{
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6) ;
    border-radius: 8px;
    margin-top: 20px;
}

.feature-description{
    line-height:25px;
    margin-top: 15px;
}
.right-content img{
    width: 100%;
}


#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 3rem;
    font-weight: 700;
}
/* Fact Card Section */
.some-facts{
    margin: 120px auto;
}
.fact-description{
    max-width:542px;
    line-height: 30px;
    margin-top: 10px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin:30px;
 
}
.fact-card{
    border: 1px solid #FF900E;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size:3rem;
    margin-top: 10px;
}
.fact-name{
    margin-top: 10px;
    font-size:1.2rem;
    font-weight: 600;
}

/* Sponsors Section */

.sponsor-container{
    text-align: center;
    margin: 30px auto;
}
.sponsor-title{
    font-size: 3rem;
    margin-bottom: 20px;
}

.sponsor-description{
    max-width:542px;
    margin: 0 auto;
    line-height: 30px;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    margin-top: 50px;
}
.logo{
    filter: grayscale(100%);
}
/* Footer Section */
footer{
    text-align: center;
    background-color:rgba(255, 244, 231, 1);
    padding:30px;
    margin-top:50px;
    color: rgb(35, 36, 36);
}
/* Responsive Media Queary */
.hide{
    display: none;
}
@media screen and (max-width:576px) {

    .hide{
        display: none;
    }
    .navbar, 
    .nav-link,
    .sponsors,
    .feature-section{
        flex-direction: column;
    }
    .nav-link{
        padding-inline-start:40px;
    }
    .nav-items{
        margin-bottom: 5px;
    }

    .banner{
        margin-top: 40px;
    }

    .team{
        flex-direction: column;
    }

    .team-image,
    .fact-container,
    .sponsors{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content{
        margin: 20px 20px;
        text-align: center;
    }
    .section-title{
        text-align: center;
    }
/* Fact Section Responsive style */

    .some-facts{
        padding: 10px;
        margin: 50px auto;
    }
    .some-facts>p{
        text-align: center;
    }
    .fact-container{
        justify-items: center;
        gap:40px;
    }
    .featur-section-des{
        text-align: center;
        margin-top: 20px;
        line-height: 30px;
    }

    .feature-section{
        margin: 60px 30px;
    }

    .sponsor-container{
        margin: 30px 30px;
    }

    .sponsors{
        gap: 30px;
    }

    #experience-badge{
        display: none;
    }

    .feature-section{
        gap:60px;
    }
}

/* responsive of medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .sponsors,
    .fact-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .some-facts{
        text-align: center;
    }
    .fact-description,
    .left-content{
        margin: 10px auto;
    }

    .feature-section,
    .team{
        flex-direction: column;
    }
    #experience-badge {
        margin-left: 275px;
        margin-top: -85px;
    }

    .left-content {
        max-width: 90%;
    }
    .right-content{
        margin: 0 15px;
    }
    .team-content {
        text-align: center;
        margin: 20px 20px;
    }
}
