/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

/* Shared Style */

.primary-color{
    color:#FF900E;
}

.secondary-color{
    color:#727272;
 }

.display-flex{
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 1.12rem;
    font-weight:600;
    border: none;
}



/* Nav-Bar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.brand{
    font-size:2rem;
    font-weight:700;
    margin-bottom: 20px;
} 

.nav-link{
    margin-right: 30px;
}

.nav-items{
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner styles */

.banner{
    margin-top: 102px;
    padding: 10px 10px;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 20px;

}

.banner-description{
    margin-bottom: 20px;
}

.banner-image{
    width: 100%;
    margin-bottom: 20px;
}

/* Team Section style */

.team{
    margin-top: 80px;
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content{
    margin-left: 130px;
}

.team-title{
    font-size: 3rem;
    margin-bottom: 10px;
}
.team-description{
    font-size:1.2rem;
    margin-bottom: 10px;
    line-height:30px;
}
/* Responsive Media Queary */

@media screen and (max-width:576px) {
    .navbar, .nav-link{
        flex-direction: column;
    }
    .nav-link{
        padding-inline-start:40px;
    }
    .nav-items{
        margin-bottom: 5px;
    }

    .banner{
        margin-top: 40px;
    }
}
